Source: libpmount
Priority: optional
Section: libs
Maintainer: Guillem Jover <guillem@debian.org>
Vcs-Browser: https://git.hadrons.org/cgit/debian/pkgs/libpmount.git
Vcs-Git: git://git.hadrons.org/git/debian/pkgs/libpmount.git
Homepage: http://www.hadrons.org/software/libpmount/
Build-Depends: dpkg-dev (>= 1.15.7), debhelper (>= 9), genisoimage
Standards-Version: 3.9.6

Package: libpmount-dev
Section: libdevel
Architecture: any
Depends: libpmount0 (= ${binary:Version}), ${misc:Depends}
Description: portable mount library - development files
 This library implements functions pmount() and pumount() as wrappers to
 the real mount/unmount unportable interfaces on each platform.
 .
 Its goal is to provide a consistent interface application programmers can
 rely on for mounting and umounting filesystems without having to address
 kernel-related portability problems.
 .
 This package contains the static object and header files of libpmount.

Package: libpmount0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: portable mount library - shared library
 This library implements functions pmount() and pumount() as wrappers to
 the real mount/unmount unportable interfaces on each platform.
 .
 Its goal is to provide a consistent interface application programmers can
 rely on for mounting and umounting filesystems without having to address
 kernel-related portability problems.
 .
 This package contains the libpmount shared object.
